*{
    margin: 0;
    padding: 0;
}

body {
    
    font-family: Arial, sans-serif;
    background-color: #56df5148;
    
    
}



.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

input[type="text"], select, button {
    padding: 10px;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 0.5vh solid lightcoral;
    border-radius: 1.15rem;
}

input button{
    background-color: rgb(69, 100, 236);
}

#result {
    
    margin-top: 20px;
    font-size: 20px;
}
